In [32]:
import requests
from bs4 import BeautifulSoup

years = list(range(2000,2023))

url_start = "https://www.basketball-reference.com/draft/NBA_{}.html"

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("./draft/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text)

In [33]:
with open("./draft/2012.html", encoding="utf-8") as f:
    page = f.read()

In [7]:
soup = BeautifulSoup(page, "html.parser")

In [8]:
# find element in html and use decompose method to remove it
soup.find('tr', class_="over_header").decompose()

In [12]:
# find a specific id
draft_table = soup.find(id="stats")

In [16]:
import pandas as pd
draft_2012 = pd.read_html(str(draft_table))[0]

In [34]:
dfs = []
for year in years:
    with open("./draft/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    draft_table = soup.find(id="stats")
    draft = pd.read_html(str(draft_table))[0]
    draft["Year"] = year
    
    dfs.append(draft)

In [35]:
picks = pd.concat(dfs)

In [36]:
picks.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP,Year
0,1,1,NJN,Kenyon Martin,Cincinnati,15,757,23134,9325,5159,...,.629,30.6,12.3,6.8,1.9,48.0,.100,0.1,12.1,2000
1,2,2,VAN,Stromile Swift,LSU,9,547,10804,4582,2535,...,.699,19.8,8.4,4.6,0.5,21.3,.095,-1.6,1.1,2000
2,3,3,LAC,Darius Miles,NaN,7,446,11730,4507,2190,...,.590,26.3,10.1,4.9,1.9,9.5,.039,-1.0,3.0,2000
3,4,4,CHI,Marcus Fizer,Iowa State,6,289,6032,2782,1340,...,.691,20.9,9.6,4.6,1.2,2.7,.022,-3.7,-2.6,2000
4,5,5,ORL,Mike Miller,Florida,17,1032,27812,10973,4376,...,.769,26.9,10.6,4.2,2.6,60.7,.105,0.8,19.8,2000

In [37]:
picks.to_csv("picks.csv")

In [39]:
# NBA player statistics
# using selenium

SyntaxError: invalid syntax (Temp/ipykernel_16216/4222147693.py, line 3)